.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.schedule{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
  height: 100%;
  width:100%;
}
.week{
  position: relative;
  display:flex;
  align-items: center;
  justify-content:flex-start;
  gap:10px;
  height:100%;
  width:100%;
}

.times,.day{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height:100%;
  width:100%;
}

.times{
  width:fit-content;
}
.times >div,.day > div{
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.day > div{
  border-top:1px solid grey;
  width:100%;
  cursor: pointer;
}
.day>div:hover{
  background-color:red;
}
.events{
  position: relative;
  top:0px;
  left:0px;
}

.event{
  position: absolute;
   background-color: rgba(100,100,255,20);
   opacity: 80%;
   width:calc( 100% / 5 - 5px);
   height:30%;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   color:white;
   cursor: pointer;
   
}
.expand{
  width:100%;
  height:45px;
  background-color: rgba(0, 0, 0, 0.498);
  opacity: 0;
  border-radius: 10px;
}
.expand:hover{
  opacity: 1;
}
.event:hover{
  opacity: 100%;
}

.active{
  background-color: greenyellow;
}


.event-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:100%;
}
.left-right{
  width:40px;
  height:100%;
  background-color: rgba(0, 0, 0, 0.66);
  opacity: 0;
}
.left-right:hover{
  opacity: 1;
}



.availability-comp div{
  padding:10px;
  background-color: #3ec9f025;
  border-radius: 10px;
}